<ion-toolbar class="ion-no-border">
  <div>
    <ion-icon size="large" name="chevron-back-outline" routerLink="/home"></ion-icon>
    <img src="../../assets/logo.png" alt="logotipo">
  </div>
</ion-toolbar>

<ion-content>
  <h2>Crie sua conta</h2>

  <div class="form">
    <form [formGroup]="registerForm" (ngSubmit)="submitForm(registerForm)">

        <ion-item>
          <ion-label  class="input" position="floating">Nome completo</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label  class="input" position="floating">E-mail</ion-label>
          <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label  class="input" position="floating">Telefone celular</ion-label>
          <ion-input type="text" formControlName="phone" [brmasker]="{phone: true}"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label  class="input" position="floating">Senha</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label  class="input" position="floating">Confirme sua senha</ion-label>
          <ion-input type="password" formControlName="confirmPassword"></ion-input>
        </ion-item>

        <div class="two-colums">
          <ion-item>
            <ion-label  class="input" position="floating">Data de nascimento</ion-label>
            <ion-input type="text" formControlName="birth" [brmasker]="{mask: '00/00/00000', len:10}"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label  class="input" position="floating">Gênero</ion-label>
            <ion-select interface="popover" formControlName="gender">
              <ion-select-option value="female">Feminino</ion-select-option>
              <ion-select-option value="male">Masculino</ion-select-option>
              <ion-select-option value="other">Outro</ion-select-option>
            </ion-select>
          </ion-item>
        </div>

      <ion-button type="submit" expand="block" size="small" shape="round" [disabled]="registerForm.invalid">Finalizar</ion-button>

    </form>

    <a>Já tenho conta</a>
  </div>

</ion-content>
