<app-header></app-header>

<ion-content>

  <h2> Olá! </h2>
  <h4> O que você quer ler hoje? </h4>

  <ion-segment *ngIf="auth" value="todos">
    <ion-segment-button value="todos">
      <ion-label>Todos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="quemSigo">
      <ion-label>Apenas de quem sigo</ion-label>
    </ion-segment-button>
  </ion-segment>

    <app-feed-card *ngFor="let feedPost of feedPosts" [feedPost]="feedPost"></app-feed-card>
</ion-content>

<app-tabmenu></app-tabmenu>