<app-header></app-header>

<ion-content>
  <div *ngIf="!editMode">
    
    <div class="top">
      <div class="avatar">
        <ion-avatar>
          <img src="{{user.profile_pic}}" alt="foto do usuário que fez o post">
        </ion-avatar>      
        <ion-label>{{ user.name }}</ion-label>
      </div>

      <div *ngIf = "userId==postUserId">
          <ion-icon class="userAction" slot="end" name="create-outline" (click)="toggleEdit()"></ion-icon>
          <ion-icon class="userAction" slot="end" name="trash-outline" (click)="deletePost()"></ion-icon>
      </div>
    </div>

    <div class="post">
      <h2>
        {{ post.title }}
      </h2>
      <img src="{{post.image}}">
      <p> {{ post.text }}</p>
    </div>
  </div>

  <form [formGroup]="updateForm" (ngSubmit)="updatePost(updateForm)" *ngIf="editMode">
  
    <div class="radios">
        <ion-radio-group mode="md" formControlName="post_type">

          <ion-item lines='none'>
            <ion-label>Resenha</ion-label>
            <ion-radio slot="start" value="resenha" ></ion-radio>
          </ion-item>
          <ion-item lines='none'>
            <ion-label>Post livre</ion-label>
            <ion-radio slot="start" value="postLivre"></ion-radio>
          </ion-item>
          <ion-item lines='none'>
            <ion-label>Livro</ion-label>
            <ion-radio slot="start" value="livro"></ion-radio>
          </ion-item>

        </ion-radio-group>
    </div>

      <!-- Input de adicionar o título do post -->
    <div class="addTitle">
      
      <ion-item>
        <ion-label position="floating">Título</ion-label>
        <ion-input type="text" clearInput="true" formControlName="title"></ion-input>
      </ion-item>

    </div>

    <!-- Text-area pra escrever o post -->
    <div class="texto">

      <ion-item lines='none'>
        <ion-textarea placeholder="O que você está lendo?" rows='4' formControlName="text"></ion-textarea>
      </ion-item>
    
    </div>
    <ion-button type="submit" [disabled]="updateForm.invalid"> Atualizar </ion-button>
</form>

<div *ngIf="!editMode">
  <div class="action">
    <ion-icon name="heart-outline"></ion-icon>
    <ion-icon name="share-social-outline"></ion-icon>
  </div>

  <div class="comment-title">
    <ion-label>Comentários</ion-label>
  </div>

  <div class="comment" *ngIf = "auth">
    
    <form [formGroup]="commentForm" (ngSubmit)="createComment(commentForm)">
      <ion-item lines="none">
        <ion-textarea rows="1" type="text" placeholder="Escreva seu comentário" formControlName="text"></ion-textarea>
      </ion-item>

      <ion-button size="small" fill="clear" type="submit" [disabled]="commentForm.invalid">
        <ion-icon slot="end" size="large" name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </form>
  </div>

  <div class="commentText" *ngFor="let comment of comments" >
    <app-comment [comment]="comment"></app-comment>
  </div>
</div>
  
</ion-content>

<app-tabmenu></app-tabmenu>