ion-content {
    --background: var(--amarelo);
}

/* Top com info do usuário */
.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 5% 10%;
}

.top ion-icon {
    color: var(--marrom);
}

.avatar {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    justify-content: start;
}

ion-content div .top .avatar ion-avatar {
    height: 60px;
    width: 60px;
    margin-right: 8%;
}

.avatar ion-label {
    font-family: var(--ubuntu);
    font-size: 1em;
    font-weight: 500;
    position:relative;
}

/* Corpo do post */
.post {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 10%;
    
    font-family: var(--montserrat);
    color: black;
}

.post h2 {
    font-family: var(--ubuntu);
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
}

.post img {
    border-radius: 20px;
}


.post p {
    font-weight: normal;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
}

/* Modo edição */
form .radios ion-item, form .addTitle ion-item, form .texto ion-item {
    --background: var(--amarelo);
}

/* Ações sobre o post */
.action {
    margin: 0 10% 5%;
    color: var(--marrom);
    font-size: 32px;

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Form de comentário */
.comment-title {
    font-family: var(--montserrat);
    font-size: 1.3em;
    font-weight: 600;
    text-align: center;

    margin: 0 10%;
}

.comment form {
    margin: 5% 10%;

    display: grid;
    grid-template-columns: 80% 20%;
    justify-content: space-between;
    align-items: center;

    font-family: var(--montserrat);
    font-size: 1em;
}

.comment form ion-item {
    border: 1px solid var(--cinza-medio2);
    border-radius: 20px;

    align-items: center;
    
    height: 89%;
}

.comment form ion-item ion-textarea {
    font-family: var(--montserrat);
    font-size: 0.9em;
}

.comment form ion-icon {
    color: var(--marrom);

}