ion-content {
    --background: var(--cinza-claro);
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-right: 5%;
    margin-left: 5%;
}

.info ion-avatar img {
    width: 80px;
}

.bio {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    color: var(--marrom);

    margin-left: 5%;
}

.bio h4 {
    font-family: var(--ubuntu);
    font-size: 1em;
    font-weight: bold;

    margin-bottom: 0;
}

.bio p {
    font-family: var(--montserrat);
    font-size: 0.9em;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.atividade {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.atividade .count {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    color: var(--cinza-escuro);
    font-family: var(--ubuntu);

}

.atividade div h5 {
    margin-top: 0;
}

/* Form de editar perfil */

.form {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.form ion-item {
    --background: var(--cinza-claro);
}

.input {
    padding:0;
    font-family: var(--montserrat);
}

.two-colums {
    display: grid;
    grid-template-columns: 65% 35%;
    align-items: center;
}

.form ion-button {
    font-family: var(--ubuntu);
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    margin: 3% 6%;
}

.form ion-select {
    padding-left: 0;
}